@model Carousel
@{
	ViewData["Title"] = "Carousel - Edit";
}
<h1>@ViewData["Title"]</h1>
<p> Carousel Create</p>
@{ViewBag.Action = "Edit";}
<partial name="EditForm" model="Model">


	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
		<script src="~/js/Validation/FileContentTypeValidation.min.js"></script>
	}
